{% extends 'LineStormCmsBundle::layout.html.twig' %}

{% block body %}
    <img src="{{ image.src }}" class="img-responsive" />

    <ul class="pager">
        <li class="previous {% if image_idx == 0 %}disabled{% endif %}"><a id="gallery-prev" href="#">&larr; Prev</a></li>
        <li class="next {% if image_idx == gallery.images|length -1 %}disabled{% endif %}"><a id="gallery-next" href="#">Next &rarr;</a></li>
    </ul>
{% endblock %}
